@import "font-awesome";

.body-content{
  padding: 5px; 
  .filtered-users{
    height: 100%;
    overflow: auto;
    .user{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #e3e5e8;
      .avatar{
        width: 60px;
        height: 60px;
      }
      .full-name{
        margin: 10px;
      }
    }
  } 
  // Variables
  $color: #20cc2e;
  $color-dark: #a53125;
  $speed: "0.25s";
  $transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

  /* Main Styles */
  .add-user-button {
    display: block;
    background-color: $color;
    width: 120px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    span{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .added-user-button {
    display: block;
    background-color: #4c90ff;
    width: 120px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;
    span{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .delete-user-button {
    display: block;
    background-color: $color-dark;
    width: 120px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    span{
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  .deleted-user-button {
    background-color: #4c90ff;
    transition: all 0.3s;
  }
}
#content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  #tripInformation{
    font: bold 34px "Century Schoolbook", Georgia, Times, serif;
    color: #333;
    line-height: 90%;
    margin: .2em 0 .4em 0;
    letter-spacing: -2px;
  }

  #users{
    display: flex;
    flex-wrap: wrap;
    min-height: 60px;
    width: 100%;
    margin: 20px 20px 30px 30px;
    justify-content: center;
    #user{
      text-align: center;
      width: 100px;
      height: 100%;
      .avatar{
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }
    }
    .addUser{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #2fd620;
      border: 0px;
      font-size: 40px;
      margin: 0px 10px 0px 10px;
      .fa{
        color: white;
        display: block;
      }
    }
    .deleteUser{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: red;
      border: 0px;
      font-size: 40px;
      margin: 0px 10px 0px 10px;
      .fa{
        color: white;
        display: block;
      }
    }
  }

  #mapContainer{
    margin: 20px;
    width: 650px;
    min-width: 340px;
    #mapHeader{
      display: flex;
      border-radius: 5px 5px 0px 0px;
      width: 100%;
      height: 40px;
      background-color: #162947;
      justify-content: flex-end;
      .new-location{
        background-color: #2fd620;
        height: 100%;
        width: 40px;
        border-radius: 5px;
        border: 1px solid lightgreen; 
        .fa{
          color: white;
        }
      }
      .dropdown{
        .dropdown-toggle{
          background-color: #153568;
          color: white;
          border: 1px solid #061328;
          font-weight: 100;
          border-radius: 0px;
          height: 100%;
          width: 360px;
          min-width: 300px;
          text-align: left;
          font-size: 16px;
          padding: 0px;
          display: flex;
          align-items: center;
          .tittle{
            width: 330px;
            height: 40px;
            .default-marker{
              height: 100%;
            }
          }
        }
        .dropdown-menu{
          margin: 0px;
          border-radius: 0px;
          width: 360px;
          padding: 0px;
          li{
            height: 40px;
            display: flex;
            border-bottom: 0.5px solid white;
            .locationInfo{
              width: 325px;
              height: 100%;
              padding: 0px 0px 0px 9px;
              text-align: left;
              background-color: #153568;
              border: 0px;
              color: white;
            }
            .removeLocation{
              width: 35px;
              height: 100%;
              text-align: center;
              background-color: red;
              font-size: 20px;
              border: 0px;
              color: white;
            }
          }
        }
      }
    }
    #locationsMap {
      width: 100%;
      height: 500px;
      margin: auto;
    }
  }
}

#chatContainer{
  background-color: white;
  margin: 20px;
  width: 500px;
  height: 528px;
  border: 3px solid #d0d3db;
  border-radius: 10px;
  .users{
    border-radius: 8px;
    background-color: gray;
    width: 100%;
    padding: 10px;
    .trip-people{
      display: flex;
      align-items: center;
    }
    .avatar{
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }

    .addUser{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #2fd620;
      border: 0px;
      font-size: 20px;
      .fa{
        color: white;
        display: block;
      }
    }
    .deleteUser{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: red;
      border: 0px;
      font-size: 20px;
      .fa{
        color: white;
        display: block;
      }
    }
  }
  .form-group{
    display: flex;
  }
  #messages {
    margin: 20px;
    height: 395px;
    overflow: auto;
    text-size-adjust: 90%;
    margin-bottom: 2px solid gray;
    .row{
      margin-right: 0px;
      margin-left: 0px;
      .col-md-1{
        padding-left: 0px;
        padding-right: 0px;
      }
      .col-md-11{
        padding-left: 5px;
        padding-right: 0px;
      }
    }
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px; 
    }
    .form-control{
      border: 5px;
    }
    .card-text{
      margin-left: 10px;
    }
  }
}
