// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-content{
  padding: 5px;  
}
#content{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  background-color: #eff0f2;
  border-radius: 20px;
  padding: 20px;
	ul{

		li{
	  	list-style:none;
	  	margin: 30px 30px 0px 0px;;
		}
		li .trip{
			display: flex;

			.trip-logo{
				float: left;
				height: 100px;
	    	width: 100px;
			}
			.trip-info{
				justify-content: space-around;
				text-align: justify;
				display:inline-block;
				width: 70%;
				margin-left: 15px;
				margin-right: 60px;
				.avatar{
					border-radius: 50%;
				}
			}
		}
	}
}


