/* line 3, /home/miguel/IronHack/ProyectoFinal/IronhackProject/app/assets/stylesheets/navbar.scss */
.navbar .container-fluid .navbar-header {
  height: 50px;
}
/* line 5, /home/miguel/IronHack/ProyectoFinal/IronhackProject/app/assets/stylesheets/navbar.scss */
.navbar .container-fluid .navbar-header .brand {
  height: 100%;
  border-radius: 10px;
}

/* line 13, /home/miguel/IronHack/ProyectoFinal/IronhackProject/app/assets/stylesheets/navbar.scss */
.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 300px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 29, /home/miguel/IronHack/ProyectoFinal/IronhackProject/app/assets/stylesheets/navbar.scss */
.ui-autocomplete .ui-menu-item > .ui-menu-item-wrapper {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 38, /home/miguel/IronHack/ProyectoFinal/IronhackProject/app/assets/stylesheets/navbar.scss */
.ui-autocomplete .ui-menu-item > .ui-menu-item-wrapper.ui-state-hover, .ui-autocomplete .ui-menu-item > .ui-menu-item-wrapper.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  -webkit-border-radius: 5px;
  background-image: none;
}
