@import "font-awesome";

.navbar{
  border: 0px;
  color: white;
  margin-bottom: 30px;
  .navbar-nav>li>a {
      color: white;
  }
  .dropdown-toggle{
    padding: 0px;
    margin-top: 4px;
  }
	.container-fluid{
    background-color: #4c5e7c;
    .profile-image{
      width: 40px;
      height: 40px;
    }
		.navbar-header{
			.brand{
        margin: 0 auto;
				height: 50px;
        width: 70px;
				border-radius: 10px;
			}
		}
    .navbar-collapse{
      .navbar-form{
        .input-group{
          display: flex;
          .form-control{
            width: 300px !important;
          }
        }
      }
    }
	}
}

.ui-autocomplete {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 300px;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > .ui-menu-item-wrapper {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      -webkit-border-radius: 2px;
      background-image: none;
    }
  }
}