.body-content{
  padding: 5px;  
}
#content{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #eff0f2;
  border-radius: 20px;
  padding: 15px;

  #user{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 250px;
    width: 100%;
    margin: 20px 20px 30px 30px;
    .btn-file{
      width: 250px;
    }
    .avatar{
      width: 250px;
      height: 250px;
    }
    #info{
      margin-left: 20px;
    }
    #userName{
      font-size: 35px;
      display: flex;
      .new-trip{
        font-size: 17px;
        font-weight: 600;
        height: 70px;
        width: 120px;
        margin-left: 20px;
        display: flex;
        border-radius: 10px;
      }
    }
    #trips{
      margin-top: 70px;
      font-size: 17px;
      font-weight: 600;
      display: flex;
      .trips-done{
        margin: 10px;
        display: flex;
        height: 90px;
        width: 130px;
        border-radius: 10px;
        span{
          color: green;
        }
      }
      .trips-doing{
        margin: 10px;
        display: flex;
        height: 90px;
        width: 130px;
        border-radius: 10px;
      }
      .trips-todo{
        margin: 10px;
        display: flex;
        height: 90px;
        width: 130px;
        border-radius: 10px;
      }
      button.selected{
        background: #a2a5aa;
        text-decoration: none;
      }

    }
  }
  ul{
      border-radius: 10px;
      width: 80%;

      margin: 10px auto;
      background-color: #cee1ff;
    li{
      list-style:none;
      margin: 30px 30px 30px 30px;
    }
    li .trip{
      display: flex;

      .trip-logo{
        float: left;
        height: 100px;
        width: 100px;
      }
      .trip-info{
        font-weight: 500px;
        font-size: 16px;
        justify-content: space-around;
        text-align: justify;
        display:inline-block;
        width: 70%;
        margin-left: 15px;
        margin-right: 60px;
        .avatar{
          border-radius: 50%;
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
.new-trip-modal{
  .modal-dialog{
    width: 320px;
    .modal-body{
      background-color: #eff0f2;
      border-radius: 10px;
    }
    .new_trip{
      text-align: center;
    }
  }
}
